/**
  Primary Stylesheet
  This should be compiled to css and included in feTest.html
 */

// Color Variables
$primary-purple:		     #522398;
$blue:                   #005a85;
$green:                  #c4d600;
$orange:                 #ff6b00;
$yellow:                 #ffe900;