/**
  Primary Stylesheet
  This should be compiled to css and included in feTest.html
 */

// Color Variables
$primary-purple:		     #522398;
$blue:                   #005a85;
$green:                  #c4d600;
$orange:                 #ff6b00;
$yellow:                 #ffe900;
$white:                  #ffffff;

// Page Layout
body {
  background-color:#b085f1;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.cta {
  position: absolute;
  bottom: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $primary-purple;
  opacity: 0.9;
  color: $white;
  box-sizing: border-box;
}

.text {
  font-family: Helvetica;
  font-weight: 600;
}

.arrow {
  fill: $white;
}

.bg-border {
  position: absolute;
  z-index: -1;
  border: 2px solid $primary-purple;
  width: 65%;
  top: -30px;
  height: 100%;
  padding: 30px;
  left: 35%;
}