/**
  Primary Stylesheet
  This should be compiled to css and included in feTest.html
 */

// Color Variables
$primary-purple:		     #522398;
$blue:                   #005a85;
$green:                  #c4d600;
$orange:                 #ff6b00;
$yellow:                 #ffe900;
$white:                  #ffffff;

// Layout
body {
  background-color:#b085f1;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.cta {
  position: absolute;
  bottom: 0;
  // height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $primary-purple;
  opacity: 0.9;
  color: $white;
  box-sizing: border-box;
}

.arrow {
  fill: $white;
}

.bg-purple {
  background-color: $primary-purple;
}

.bg-blue {
  background-color: $blue;
}

.bg-green {
  background-color: $green;
}

.bg-orange {
  background-color: $orange;
}

.bg-yellow {
  background-color: $yellow;
}